<div class="container">
  <div class="about-text">
    <h3>Instructions</h3>
    <span>1. Add some text to start with</span><br>
    <span>2. Choose a manipulation procedure and click 'Add Manipulation'</span><br>
    <span>3. (You can add as many procedures as you like)</span><br>
    <span>4. (Some manipulations require a secondary text: Splicers, Swappers, Replacers)</span><br>
    <span>5. When done, click 'Manipulate Text'</span><br>
    <span>6. (The word class tagger isn't very good at verbs)</span><br>

    <h3>About the project</h3>
    <span>
      I am a poet and programmer. I've always been interested in the recombinatorial nature of language. I've also been interested in how simple tools can help generate text and ideas for writing.
      Most of the procedures here have been performed manually by writers throughout the ages.
      I believe that the creative process is essentially about organisation, recombination or arrangement.
      Something is transformed into something else.
      I don't believe in the idea that creation is ex nihilo - that you can get something out of nothing. Everything comes from something else.
    </span>

    <h3>Notes</h3>
    <span>- Feel free to email me if you have any questions or suggestions or if anything is broken: kan.gregory@gmail.com</span><br>
    <span>- No data is collected on/through this app, although I do track how many times the app has been used</span><br>
    <span>- The full source can be found here: https://github.com/gregorykan/glass_leaves</span><br>
  </div>
</div>
