<div class="container">
 <h1 class="page-header">glass.leaves</h1>
</div>

<div id ="main-container" class="container">
    <%= form_tag(controller: "home", action: "manipulate", method: "post") do %>
      <div class="row">
        <div class="col-xs-7">
          <%= text_area_tag(:initial_text, nil, :class => ['initial-text-box']) %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="added-actions">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <%= select_tag :method, options_for_select(@procedures), prompt: 'Choose a procedure', class: ['action-select'] %>
          <button type="button" class="add-action-btn">Add Procedure</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <%= submit_tag("Manipulate Text", :class => ['submit-btn']) %>
        </div>
      </div>
    <% end %>
</div>

<script type="text/javascript">
$(function(){
  var seq = 1;
  $('.add-action-btn').click(function(){
    var current = seq;
    seq += 1;
    var selected_action_id = $('.action-select').val();
    var selected_text = $('.action-select option[value='+selected_action_id+']').text();
    if (selected_action_id == '10' || selected_action_id == '11')
      var block = '<div class="action-item"> \
        <input type="hidden" value="'+selected_action_id+'" name="operations['+current+'][name]"> \
        <span>'+selected_text+'</span> \
        <textarea name="operations['+current+'][args]" type="text" class="action-args"></textarea> \
      </div>';
    else
      var block = '<div class="action-item"> \
        <input type="hidden" value="'+selected_action_id+'" name="operations['+current+'][name]"> \
        <span>'+selected_text+'</span> \
        <input type="hidden" name="operations['+current+'][args]" type="text"> \
      </div>';
    var item = $(block)
    $('.added-actions').append(item);
  })
})
</script>
