<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= render plain: @manipulated %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to 'Back to Home', home_index_path %>
    </div>
  </div>
</div>