<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="manipulated-text">
        <%= render plain: @manipulated %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= link_to 'Back to Manipulator', root_path %>
    </div>
  </div>
</div>
