.action-label {
  border: 1px;
  border-style: dotted;
}

.action-item {
  margin: 5px;
}

.action-select {
  margin: 10px;
}

.submit-btn {
  margin: 10px;
}

.manipulated-text {
  margin: 10px;
}

.added-actions {
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  margin: 10px;
}
