body {
  font-family: Helvetica;
}

a:visited {
  color: black;
}

a {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-header-link {
  text-decoration: none;
}

.about-link {
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.action-item {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
}

.initial-text-box {
  width: 70%;
  height: 300px;
  font-size: 14px;
}

.submit-btn {
  margin: 10px;
}

.manipulated-text {
  margin: 10px;
}

.remove-action-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 30px;
  margin-left: 30px;
}

.add-action-btn {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 10px;
}

.submit-btn {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 10px;
}

.action-select {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.text-select {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.about-text {
  max-width: 70%;
}

.notice {
  color: red;
}

.alert {
  color: green;
}
