body {
  font-family: Helvetica;
}

.action-item {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 15px;
  padding: 5px;
}

.action-select {
  margin: 10px;
}

.submit-btn {
  margin: 10px;
}

.manipulated-text {
  margin: 10px;
}

.remove-action-btn {
  border-radius: 50%;
  background-color: white;
  color: black;
  border: 2px solid black;
}
