<div id ="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Edit Text</h3>

      <%= render 'form' %>

      <%= link_to 'Show', @text %> |
      <%= link_to 'Back', texts_path %>
    </div>
  </div>
</div>
